


<center> <H1> <b>Data Analysis with Python </b><figure> </H1> </center>
<center> <H6>  </H6> </center>

# Indexing & Selection & Filtering in Pandas

In [1]:
import pandas as pd
import numpy as np

In [4]:
#genere une serie de nombre de 11 à 51 avec un pas de 10
obj=pd.Series(np.arange(11,52,10),
              index=["a","b","c","d","e"])

In [5]:
obj

a    11
b    21
c    31
d    41
e    51
dtype: int32

In [6]:
obj["a"]

11

In [8]:
obj[4]

51

In [5]:
obj[0:3]#obtenir les éléments d'indice 0 jusqu'a 2

a    11
b    21
c    31
dtype: int64

In [10]:
obj[["e","c"]]

e    51
c    31
dtype: int32

In [7]:
obj[[0,2]]

a    11
c    31
dtype: int64

In [11]:
obj[obj<32]

a    11
b    21
c    31
dtype: int32

In [12]:
obj["b":"c"]

b    21
c    31
dtype: int32

In [14]:
obj["b":"c"]=7
obj

a    11
b     7
c     7
d    41
e    51
dtype: int32

## DataFrame Indexing

In [15]:
data=pd.DataFrame(
    np.arange(16).reshape(4,4),
    index=["London","Paris",
           "Berlin","Istanbul"],
    columns=["one","two","three","four"])
data

          one  two  three  four
London      0    1      2     3
Paris       4    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

In [26]:
data["two"]

London       1
Paris        5
Berlin       9
Istanbul    13
Name: two, dtype: int32

In [32]:
data[["one","two"]]

          one  two
London      0    1
Paris       4    5
Berlin      8    9
Istanbul   12   13

In [35]:
data.loc["London",["two"]]

two    1
Name: London, dtype: int32

In [36]:
data[:3]

        one  two  three  four
London    0    1      2     3
Paris     4    5      6     7
Berlin    8    9     10    11

In [14]:
data[data["four"]>5]

          one  two  three  four
Paris       4    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

In [15]:
data[data<5]=0#toutes les colonnes dont valeurs sont infeerieurs à 5 on les change en 0
data

          one  two  three  four
London      0    0      0     0
Paris       0    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

## Selecting with iloc and loc

In [38]:
data.iloc[0]#iloc contraire de loc pour obtenir un mot particulier

one      0
two      1
three    2
four     3
Name: London, dtype: int32

In [17]:
data.iloc[2]

one       8
two       9
three    10
four     11
Name: Berlin, dtype: int64

In [18]:
data.iloc[3]

one      12
two      13
three    14
four     15
Name: Istanbul, dtype: int64

In [42]:
data.iloc[1,[0,1,3]]

one     4
two     5
four    7
Name: Paris, dtype: int32

In [43]:
data.iloc[[1,3],[1,2,3]]

          two  three  four
Paris       5      6     7
Istanbul   13     14    15

In [ ]:
data.loc["Paris",["one","two"]]

one    0
two    5
Name: Paris, dtype: int64

In [19]:
data.loc[:"Paris","four"]

London    0
Paris     7
Name: four, dtype: int64

In [ ]:
#obtenir une serie de nombre de 0 à 4 d'index a,b,c,d,e
toy_data=pd.Series(np.arange(5),
                   index=["a","b","c",
                          "d","e"])
toy_data

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [ ]:
toy_data[-1]#obtenir le dernier élément de la serie

4