


<center> <H1> <b>Data Analysis with Python </b><figure> </H1> </center>
<center> <H6>  </H6> </center>

# Some Useful Methods in Pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
#une serie pandas qui prend en parametre une liste et une variable index pour indexer les elements
s=pd.Series([1,2,3,4],
            index=["a","b","c","d"])
s

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
s["a"]

1

In [6]:
#reformer les index de s retourne une serie de float
s2=s.reindex(["b","d","a","c","e"])
s2

b    2.0
d    4.0
a    1.0
c    3.0
e    NaN
dtype: float64

In [8]:
s2["e"]=5
s2

b    2.0
d    4.0
a    1.0
c    3.0
e    5.0
dtype: float64

In [10]:
#une series pandas qui prend en parametre une liste de valeur et une variable d'indexage des éléments
s3=pd.Series(["blue","yellow","purple"],
             index=[0,2,4])
s3

0      blue
2    yellow
4    purple
dtype: object

In [11]:
'''
The ffill() method replaces the NULL values with the value from the previous row 
(or previous column, if the axis parameter is set to 'columns' ).
'''
s3.reindex(range(6),method="ffill")

0      blue
1      blue
2    yellow
3    yellow
4    purple
5    purple
dtype: object

In [12]:
#Permet d'obtenir un tableau de valeur selon le paramètre 
df=pd.DataFrame(np.arange(9).reshape(3,3),
                index=["a","c","d"],
                columns=["Tim","Tom","Kate"])
df

   Tim  Tom  Kate
a    0    1     2
c    3    4     5
d    6    7     8

In [13]:
df2=df.reindex(["d","c","b","a"])
df2

   Tim  Tom  Kate
d  6.0  7.0   8.0
c  3.0  4.0   5.0
b  NaN  NaN   NaN
a  0.0  1.0   2.0

In [14]:
s=pd.Series(np.arange(5.),
            index=["a","b","c","d","e"])
s

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [15]:
'''
drop() method is used to remove a specific row from the pandas series object. 
And It will return a series object with the removed row. 
The drop() method can be applied to both labeled-based and position index abased series objects.'''
new_s=s.drop("b")
new_s

a    0.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [11]:
s.drop(["c","d"])

a    0.0
b    1.0
e    4.0
dtype: float64

In [17]:
#DataFrame c'est une representation tabulaire des données
data=pd.DataFrame(np.arange(16).reshape(4,4),
                  index=["Kate","Tim",
                         "Tom","Alex"],
                  columns=list("ABCD"))
data

       A   B   C   D
Kate   0   1   2   3
Tim    4   5   6   7
Tom    8   9  10  11
Alex  12  13  14  15

In [18]:
data.drop(["Kate","Tim"])

       A   B   C   D
Tom    8   9  10  11
Alex  12  13  14  15

In [22]:
data.drop("A",axis='columns')

       B   C   D
Kate   1   2   3
Tim    5   6   7
Tom    9  10  11
Alex  13  14  15

In [26]:
data.drop("Kate",axis=0)

       A   B   C   D
Tim    4   5   6   7
Tom    8   9  10  11
Alex  12  13  14  15

In [27]:
data

       A   B   C   D
Kate   0   1   2   3
Tim    4   5   6   7
Tom    8   9  10  11
Alex  12  13  14  15

In [35]:
data.mean(axis="index") # axis = 0 index=rows

A    6.0
B    7.0
C    8.0
D    9.0
dtype: float64

In [36]:
data.mean(axis="columns") #axis =  1

Kate     1.5
Tim      5.5
Tom      9.5
Alex    13.5
dtype: float64