<html> <img style="float:center; margin: 0px 0px 0px 0px;" src="https://docs.google.com/uc? export=download&id=1JDfKEyqZsOrv8tZrgeIDJFQ_c_W0LF-K" width="370" align="left"/> </html> 


<center> <H1> <b>Data Analysis with Python </b><figure> </H1> </center>
<center> <H6>  </H6> </center>

# Summarizing & Computing Descriptive Statistics

In [6]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame(
    [[2.4,np.nan],[6.3,-5.4],
     [np.nan,np.nan],[0.75,-1.3]],
    index=["a","b","c","d"],
    columns=["one","two"])
df

    one  two
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [4]:
df.sum()

one    9.45
two   -6.70
dtype: float64

In [4]:
df.sum(axis=1)

a    2.40
b    0.90
c    0.00
d   -0.55
dtype: float64

In [5]:
df

    one  two
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [6]:
df.mean(axis=1)

a    2.400
b    0.450
c      NaN
d   -0.275
dtype: float64

In [9]:
df.mean(axis=1,skipna=False)

a      NaN
b    0.450
c      NaN
d   -0.275
dtype: float64

In [10]:
df.idxmax()

one    b
two    d
dtype: object

In [9]:
df.idxmin()

one    d
two    b
dtype: object

In [10]:
df.cumsum()

    one  two
a  2.40  NaN
b  8.70 -5.4
c   NaN  NaN
d  9.45 -6.7

In [11]:
df.describe()

         one       two
count  3.000  2.000000
mean   3.150 -3.350000
std    2.850  2.899138
min    0.750 -5.400000
25%    1.575 -4.375000
50%    2.400 -3.350000
75%    4.350 -2.325000
max    6.300 -1.300000

To find the correlation coefficient, let's first import the famous iris data set. You can download iris data set from https://archive.ics.uci.edu/ml/datasets/iris.

In [8]:
path= ' '
path = 'iris.csv'
iris=pd.read_csv(path, sep=",", header=None)

# Nouvelle section

In [9]:
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [10]:
iris.columns=['sepal_length','sepal_width',
             'petal_length','petal_width',
             'class']

In [11]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [12]:
iris["sepal_length"].corr(iris["sepal_width"])

-0.10936924995064937

In [13]:
iris.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [14]:
iris.corrwith(iris.petal_length)

sepal_length    0.871754
sepal_width    -0.420516
petal_length    1.000000
petal_width     0.962757
dtype: float64

In [15]:
s=pd.Series(["b","b","b","b","c",
             "c","a","a","a"])
s

0    b
1    b
2    b
3    b
4    c
5    c
6    a
7    a
8    a
dtype: object

In [16]:
s.unique()

array(['b', 'c', 'a'], dtype=object)

In [17]:
s.value_counts()

b    4
a    3
c    2
dtype: int64

In [18]:
x=s.isin(["b","c"])
x

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7    False
8    False
dtype: bool