<html> <img style="float:center; margin: 0px 0px 0px 0px;" src="https://docs.google.com/uc? export=download&id=1JDfKEyqZsOrv8tZrgeIDJFQ_c_W0LF-K" width="370" align="left"/> </html> 


<center> <H1> <b>Data Analysis with Python </b><figure> </H1> </center>
<center> <H6>  </H6> </center>

# Missing Data in Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series(["Sam",np.nan,"Tim","Kim"])
s

0    Sam
1    NaN
2    Tim
3    Kim
dtype: object

In [3]:
s.isnull()

0    False
1     True
2    False
3    False
dtype: bool

In [4]:
s.notnull()

0     True
1    False
2     True
3     True
dtype: bool

In [5]:
s[3]=None
s.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [6]:
s.dropna()

0    Sam
2    Tim
dtype: object

In [7]:
from numpy import nan as NA

In [8]:
df=pd.DataFrame([[1,2,3],[4,NA,5],
                 [NA,NA,NA]])
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [9]:
df.dropna()

     0    1    2
0  1.0  2.0  3.0

In [10]:
df.dropna(how="all")

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0

In [27]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [16]:
df.fillna(0)

     0    1    2
0  1.0  0.0  3.0
1  4.0  0.0  5.0
2  0.0  0.0  0.0

In [29]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [19]:
df.fillna(0,inplace=True)
df

     0    1    2
0  1.0  0.0  3.0
1  4.0  0.0  5.0
2  0.0  0.0  0.0

In [20]:
df=pd.DataFrame([[1,2,3],[4,NA,5],
                 [NA,NA,NA]])
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [21]:
df.fillna(method="ffill")

     0    1    2
0  1.0  2.0  3.0
1  4.0  2.0  5.0
2  4.0  2.0  5.0

In [23]:
data=pd.Series([1,0,NA,5])
data

0    1.0
1    0.0
2    NaN
3    5.0
dtype: float64

In [24]:
data.fillna(data.mean())

0    1.0
1    0.0
2    2.0
3    5.0
dtype: float64

In [25]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [26]:
df.fillna(df.mean())

     0    1    2
0  1.0  2.0  3.0
1  4.0  2.0  5.0
2  2.5  2.0  4.0