<html> <img style="float:center; margin: 0px 0px 0px 0px;" src="https://docs.google.com/uc? export=download&id=1JDfKEyqZsOrv8tZrgeIDJFQ_c_W0LF-K" width="370" align="left"/> </html> 


<center> <H1> <b>Data Analysis with Python </b><figure> </H1> </center>
<center> <H6>  </H6> </center>

# Hierarchical Indexing in Pandas

In [1]:
import numpy as np
import pandas as pd

In [25]:
data=pd.Series(np.random.randn(8),
               index=[["a","a","a","b","b","b","c","c"],
                      [1,2,3,1,2,3,1,2]])
data

a  1    1.594861
   2   -0.391312
   3   -0.642381
b  1    1.608133
   2    0.252334
   3   -1.234939
c  1    1.249711
   2   -0.868172
dtype: float64

In [26]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2)],
           )

In [27]:
data["a"]

1    1.594861
2   -0.391312
3   -0.642381
dtype: float64

In [28]:
data["b":"c"]

b  1    1.608133
   2    0.252334
   3   -1.234939
c  1    1.249711
   2   -0.868172
dtype: float64

In [29]:
data.loc[["a","c"]]

a  1    1.594861
   2   -0.391312
   3   -0.642381
c  1    1.249711
   2   -0.868172
dtype: float64

In [30]:
data

a  1    1.594861
   2   -0.391312
   3   -0.642381
b  1    1.608133
   2    0.252334
   3   -1.234939
c  1    1.249711
   2   -0.868172
dtype: float64

In [32]:
data.loc[:,1]

a    1.594861
b    1.608133
c    1.249711
dtype: float64

In [9]:
data.unstack()

          1         2         3
a  0.231359  0.398916 -1.006066
b -1.670609 -0.196015 -1.103110
c -0.217121  0.176345       NaN

In [10]:
data.unstack().stack()

a  1    0.231359
   2    0.398916
   3   -1.006066
b  1   -1.670609
   2   -0.196015
   3   -1.103110
c  1   -0.217121
   2    0.176345
dtype: float64

In [11]:
df=pd.DataFrame(
    np.arange(12).reshape(4,3),
    index=[["a","a","b","b"],
           [1,2,1,2]],
    columns=[["num","num","ver"],
             ["math","stat","geo"]])
df

     num      ver
    math stat geo
a 1    0    1   2
  2    3    4   5
b 1    6    7   8
  2    9   10  11

In [12]:
df.index.names=["class","exam"]
df.columns.names=["field","lesson"]
df

field       num      ver
lesson     math stat geo
class exam
a     1       0    1   2
      2       3    4   5
b     1       6    7   8
      2       9   10  11

In [13]:
df["num"]

lesson      math  stat
class exam
a     1        0     1
      2        3     4
b     1        6     7
      2        9    10

In [14]:
df.swaplevel("class","exam")

field       num      ver
lesson     math stat geo
exam class
1    a        0    1   2
2    a        3    4   5
1    b        6    7   8
2    b        9   10  11

In [15]:
df.sort_index(level=1)

field       num      ver
lesson     math stat geo
class exam
a     1       0    1   2
b     1       6    7   8
a     2       3    4   5
b     2       9   10  11