<html> <img style="float:center; margin: 0px 0px 0px 0px;" src="https://docs.google.com/uc? export=download&id=1JDfKEyqZsOrv8tZrgeIDJFQ_c_W0LF-K" width="370" align="left"/> </html> 


<center> <H1> <b>Data Analysis with Python </b><figure> </H1> </center>
<center> <H6>  </H6> </center>

# Combining & Merging Datasets in Pandas

In [2]:
import pandas as pd
import numpy as np

## Joining DataFrame

In [3]:
d1=pd.DataFrame(
    {"key":["a","b","c","c","d","e"],
     "num1":range(6)})
d2=pd.DataFrame(
    {"key":["b","c","e","f"],
     "num2":range(4)})

In [4]:
print(d1)
print(d2)

  key  num1
0   a     0
1   b     1
2   c     2
3   c     3
4   d     4
5   e     5
  key  num2
0   b     0
1   c     1
2   e     2
3   f     3

In [5]:
pd.merge(d1, d2)

  key  num1  num2
0   b     1     0
1   c     2     1
2   c     3     1
3   e     5     2

In [6]:
pd.merge(d1, d2, on='key')

  key  num1  num2
0   b     1     0
1   c     2     1
2   c     3     1
3   e     5     2

In [7]:
pd.merge(d1,d2,how="outer")

  key  num1  num2
0   a   0.0   NaN
1   b   1.0   0.0
2   c   2.0   1.0
3   c   3.0   1.0
4   d   4.0   NaN
5   e   5.0   2.0
6   f   NaN   3.0

In [8]:
pd.merge(d1,d2,how="left")

  key  num1  num2
0   a     0   NaN
1   b     1   0.0
2   c     2   1.0
3   c     3   1.0
4   d     4   NaN
5   e     5   2.0

In [9]:
pd.merge(d1,d2,how="right")

  key  num1  num2
0   b   1.0     0
1   c   2.0     1
2   c   3.0     1
3   e   5.0     2
4   f   NaN     3

In [10]:
pd.merge(d1, d2, how='inner')

  key  num1  num2
0   b     1     0
1   c     2     1
2   c     3     1
3   e     5     2



---

## Concatenating Along an Axis

In [11]:
seq= np.arange(20).reshape((4, 5))

In [12]:
np.concatenate([seq,seq], axis=1)

array([[ 0,  1,  2,  3,  4,  0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19, 15, 16, 17, 18, 19]])

In [13]:
np.concatenate([seq, seq], axis=0)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [14]:
data1 = pd.Series(
    [0, 1], index=['a', 'b'])
data2 = pd.Series(
    [2,3,4], index=['c','d','e'])
data3 = pd.Series(
    [5, 6], index=['f', 'g'])

In [15]:
pd.concat([data1,data2,data3])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [17]:
pd.concat([data1, data2, data3], axis=1)

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [16]:
data1

a    0
b    1
dtype: int64

In [18]:
data4= pd.Series([10,11,12], 
                 index=['a','b',"c"])
pd.concat([data1,data4],axis=1,join="inner")

   0   1
a  0  10
b  1  11



---

In [21]:
df1 = pd.DataFrame(
    np.arange(6).reshape(3, 2),
    index=['a', 'b', 'c'],
    columns=['one', 'two'])
df2 = pd.DataFrame(
    10+np.arange(4).reshape(2,2),
    index=['a', 'c'],
    columns=['three', 'four'])

In [22]:
pd.concat([df1, df2], axis=1, 
          keys=['s1', 's2'],
          sort=False)

   s1        s2
  one two three  four
a   0   1  10.0  11.0
b   2   3   NaN   NaN
c   4   5  12.0  13.0

In [23]:
data1 = pd.DataFrame(
    np.random.randn(3, 4),
    columns=['a','b','c','d'])
data2 = pd.DataFrame(
    np.random.randn(2, 3),
    columns=['b','d','a'])

In [24]:
pd.concat([data1, data2], ignore_index=True)

          a         b         c         d
0 -2.165838  0.846975 -0.781509  2.259805
1  0.786239  1.438835 -0.398079  0.745038
2  0.007627 -0.279055 -0.154744  1.764437
3  0.040784 -1.216571       NaN  0.668578
4 -1.879467  0.665357       NaN -0.739172