<html> <img style="float:center; margin: 0px 0px 0px 0px;" src="https://docs.google.com/uc? export=download&id=1JDfKEyqZsOrv8tZrgeIDJFQ_c_W0LF-K" width="370" align="left"/> </html> 


<center> <H1> <b>Data Analysis with Python </b><figure> </H1> </center>
<center> <H6>  </H6> </center>

# Multiple Selecting & Filtering in Pandas

In [1]:
import pandas as pd

In [2]:
film=pd.read_csv("http://bit.ly/imdbratings")

In [3]:
film.head(3)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

## Practical column selection

In [ ]:
film["title"].head()

0    The Shawshank Redemption
1               The Godfather
2      The Godfather: Part II
3             The Dark Knight
4                Pulp Fiction
Name: title, dtype: object

In [ ]:
film[["title","genre"]].head()

                      title   genre
0  The Shawshank Redemption   Crime
1             The Godfather   Crime
2    The Godfather: Part II   Crime
3           The Dark Knight  Action
4              Pulp Fiction   Crime

## loc method

In [ ]:
film.loc[0,]

star_rating                                                     9.3
title                                      The Shawshank Redemption
content_rating                                                    R
genre                                                         Crime
duration                                                        142
actors_list       [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
Name: 0, dtype: object

In [ ]:
film.loc[[0,2,4],]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [ ]:
film.loc[0:2,]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [ ]:
film.loc[0:5,"title"]

0    The Shawshank Redemption
1               The Godfather
2      The Godfather: Part II
3             The Dark Knight
4                Pulp Fiction
5                12 Angry Men
Name: title, dtype: object

In [ ]:
film.loc[0:5,"title":"genre"]

                      title content_rating   genre
0  The Shawshank Redemption              R   Crime
1             The Godfather              R   Crime
2    The Godfather: Part II              R   Crime
3           The Dark Knight          PG-13  Action
4              Pulp Fiction              R   Crime
5              12 Angry Men      NOT RATED   Drama

In [ ]:
film.loc[0:5,"title":"duration"]

                      title content_rating   genre  duration
0  The Shawshank Redemption              R   Crime       142
1             The Godfather              R   Crime       175
2    The Godfather: Part II              R   Crime       200
3           The Dark Knight          PG-13  Action       152
4              Pulp Fiction              R   Crime       154
5              12 Angry Men      NOT RATED   Drama        96

In [ ]:
film.loc[:,"title":"genre"].head()

                      title content_rating   genre
0  The Shawshank Redemption              R   Crime
1             The Godfather              R   Crime
2    The Godfather: Part II              R   Crime
3           The Dark Knight          PG-13  Action
4              Pulp Fiction              R   Crime

In [ ]:
film.loc[film.genre=="Crime",].head(3)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [ ]:
film.loc[film.genre=="Crime",[
    "title","duration"]]

                        title  duration
0    The Shawshank Redemption       142
1               The Godfather       175
2      The Godfather: Part II       200
4                Pulp Fiction       154
21                City of God       130
..                        ...       ...
927                     Brick       110
931              Mean Streets       112
950                     Bound       108
969       Law Abiding Citizen       109
978               Wall Street       126

[124 rows x 2 columns]

In [ ]:
film.loc[
    film.genre=="Crime","title":"duration"]

                        title content_rating  genre  duration
0    The Shawshank Redemption              R  Crime       142
1               The Godfather              R  Crime       175
2      The Godfather: Part II              R  Crime       200
4                Pulp Fiction              R  Crime       154
21                City of God              R  Crime       130
..                        ...            ...    ...       ...
927                     Brick              R  Crime       110
931              Mean Streets              R  Crime       112
950                     Bound              R  Crime       108
969       Law Abiding Citizen              R  Crime       109
978               Wall Street              R  Crime       126

[124 rows x 4 columns]

## iloc method

In [ ]:
film.iloc[:,0].head()

0    9.3
1    9.2
2    9.1
3    9.0
4    8.9
Name: star_rating, dtype: float64

In [ ]:
film.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [ ]:
film.iloc[:,[0,3]].head()

   star_rating   genre
0          9.3   Crime
1          9.2   Crime
2          9.1   Crime
3          9.0  Action
4          8.9   Crime

In [ ]:
film.iloc[:,0:3].head()

   star_rating                     title content_rating
0          9.3  The Shawshank Redemption              R
1          9.2             The Godfather              R
2          9.1    The Godfather: Part II              R
3          9.0           The Dark Knight          PG-13
4          8.9              Pulp Fiction              R

In [ ]:
film.iloc[0,0:3]

star_rating                            9.3
title             The Shawshank Redemption
content_rating                           R
Name: 0, dtype: object

In [ ]:
film.iloc[0:5,0:3]

   star_rating                     title content_rating
0          9.3  The Shawshank Redemption              R
1          9.2             The Godfather              R
2          9.1    The Godfather: Part II              R
3          9.0           The Dark Knight          PG-13
4          8.9              Pulp Fiction              R

In [ ]:
film.iloc[0:5,].head(3)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [ ]:
film.iloc[0:5,:].head(3)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

 ## Multiple filtering

In [ ]:
film.loc[film.duration>=200,].head(3)

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."

In [ ]:
film.loc[film.duration>=200,"title"].head()

2                            The Godfather: Part II
7     The Lord of the Rings: The Return of the King
17                                    Seven Samurai
78                      Once Upon a Time in America
85                               Lawrence of Arabia
Name: title, dtype: object

In [ ]:
film[(
    film.duration>=200)|(
    film.genre=="Crime")|(
    film.genre=="Action")].head(3)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [ ]:
film[film.genre.isin([
    "Crime","Drama","Action"])]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."